{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron">
  <h1 class="display-4">About Us</h1>
  <p class="lead">This is a shop of series </p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  
</div>
{% endblock %}